* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0E5C4;
  z-index: 2;
}

.nav-container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.nav-logo {
  position: relative;
  z-index: 3;
}

.nav-burger {
  display: none;
}

.nav-burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.nav-burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.nav-burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.nav-list__item {
  margin-right: 70px;
}

.nav__link {
  color: #2A2239;
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: #8A0002;
  border-bottom: 2px solid #8A0002;
}

.swiper-container {
  -webkit-box-shadow: 2px 7px 21px 0px rgba(26, 23, 22, 0.54);
          box-shadow: 2px 7px 21px 0px rgba(26, 23, 22, 0.54);
  position: relative;
  overflow: hidden;
}

.swiper-container .services-slider {
  padding-bottom: 70px;
}

.swiper-container .swiper-wrapper {
  width: 100%;
}

.swiper-container .slider-slides__item-image {
  text-align: center;
}

.swiper-container .slider-slides__item-image img {
  width: 100%;
}

.swiper-container .swiper-button-next:after,
.swiper-container .swiper-button-prev:after {
  color: #ECE0B8;
  font-size: 50px;
  font-weight: 900;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  z-index: 1;
}

.swiper-container .swiper-pagination {
  z-index: 1;
  bottom: 20px;
}

.swiper-container .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #ECE0B8;
}

.footer {
  background-color: #2A2239;
  color: #F9F3EA;
  text-align: center;
  padding: 60px 0;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
}

.footer-title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
}

.footer-item__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-item__subtitle a {
  font-weight: 500;
  font-size: 18px;
  color: #F9F3EA;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-item__subtitle a:hover {
  border-bottom: 2px solid #F9F3EA;
}

.footer-item__subtitle {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}

.footer-title-join {
  font-weight: 500;
  font-size: 40px;
}

.footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cutting_header {
  padding-top: 80px;
}

.gradient-text {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(138, 0, 2, 0.1)), to(transparent));
  background-image: -o-linear-gradient(bottom, rgba(138, 0, 2, 0.1), transparent);
  background-image: linear-gradient(to top, rgba(138, 0, 2, 0.1), transparent);
  border-bottom: 2px solid #8a0002;
  padding-bottom: 20px;
}

.cutting_header-main {
  padding: 330px 0;
  background-image: url(../img/cutting-header-main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cutting_header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.cutting_about {
  padding-top: 55px;
  padding-bottom: 150px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
}

.cutting_about-title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.cutting_about-subtitle {
  max-width: 90%;
  margin: 0 auto;
  font-size: 28px;
  margin-top: 150px;
  margin-bottom: 120px;
  line-height: 32px;
}

.cutting_price {
  padding-top: 60px;
}

.cutting_price-title {
  margin-bottom: 80px;
}

.cutting_price-main {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
}

.cutting_price-main span:nth-child(1) {
  font-size: 28px;
}

.cutting_price-main span:nth-child(2) {
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -4px;
}

.cutting-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cutting-item__main {
  max-width: 550px;
  font-size: 24px;
  line-height: 36px;
}

.cutting-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cutting-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.drilling_header {
  padding-top: 80px;
}

.drilling_header-main {
  padding: 330px 0;
  background-image: url(../img/drilling-header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.drilling_header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.drilling_content {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
  padding-bottom: 100px;
  padding-top: 50px;
}

.drilling_about {
  padding-bottom: 120px;
}

.drilling_about__title {
  margin-bottom: 70px;
}

.drilling_about__subtitle {
  font-size: 24px;
  line-height: 32px;
  max-width: 90%;
  margin: 0 auto;
}

.drilling_example {
  padding-top: 60px;
  padding-bottom: 150px;
}

.drilling_title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.drilling_example__title {
  margin-bottom: 70px;
}

.drilling_example-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drilling_example-main__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.drilling-item__main {
  max-width: 580px;
}

.drilling-item__main-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}

.drilling-item__main-subtitle {
  font-size: 20px;
  line-height: 32px;
}

.drilling-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.drilling-item:nth-child(1) {
  margin-bottom: 110px;
}

.rope_header {
  padding-top: 80px;
}

.rope_header-main {
  padding: 330px 0;
  background-image: url(../img/rope-header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rope_header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.rope_content {
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
}

.rope_price {
  padding-top: 120px;
}

.rope_main-header__text {
  font-size: 28px;
  line-height: 32px;
  max-width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 70px;
}

.rope-content__title {
  margin-bottom: 100px;
}

.rope-title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.rope-items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rope-items__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rope-item {
  margin-bottom: 140px;
}

.rope-item__text {
  max-width: 585px;
  font-size: 24px;
  line-height: 32px;
}

.rope-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rope-item__text-span {
  margin-bottom: 10px;
}

.rope-price__title {
  margin-bottom: 80px;
}

.rope-price__item {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
  position: relative;
}

.rope-price__item span {
  font-size: 28px;
}

.rope-price__item span:nth-child(2) {
  font-weight: 500;
  display: inline-block;
  position: absolute;
  right: 0;
  top: -4px;
}

.rope-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.dismantling_header {
  padding-top: 80px;
}

.dismantling_header-main {
  padding: 330px 0;
  background-image: url(../img/dismantling-header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dismantling_header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.dismantling-content {
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
}

.dismantling-content__header {
  margin-bottom: 100px;
}

.dismantling-content__header-text {
  max-width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 28px;
}

.dismantling-main__item {
  margin-bottom: 120px;
}

.dismantling-main__item:nth-child(2) {
  margin-bottom: 0;
}

.dismantling-title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.dismantling-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dismantling-item__main {
  max-width: 585px;
  font-size: 24px;
  line-height: 32px;
}

.dismantling-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recovery_header {
  padding-top: 80px;
}

.recovery_header-main {
  padding: 330px 0;
  background-image: url(../img/recovery-header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recovery_header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.recovery_content {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
  padding-top: 60px;
  padding-bottom: 140px;
}

.recovery_content-text {
  font-size: 24px;
  line-height: 30px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.recovery-title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.recovery-way__title {
  margin-top: 70px;
  margin-bottom: 120px;
}

.recovery-table__title {
  margin-bottom: 110px;
}

.recovery-way {
  margin-bottom: 70px;
  position: relative;
}

.recovery-way__scheme {
  position: absolute;
  z-index: 1;
  width: 2px;
  height: 760px;
  background-color: #8A0002;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100px;
}

.recovery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

.recovery-row__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 385px;
          flex: 0 1 385px;
}

.recovery-row:nth-child(4) {
  margin-bottom: 0;
}

.recovery-row:nth-child(2),
.recovery-row:nth-child(4) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recovery-row:nth-child(2):before,
.recovery-row:nth-child(4):before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #8A0002;
  background-color: #ECE0B8;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recovery-row:nth-child(1):after,
.recovery-row:nth-child(3):after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #8A0002;
  background-color: #ECE0B8;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recovery-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 25px;
}

.recovery-item__subtitle {
  font-size: 18px;
  line-height: 26px;
}

.recovery-table__image {
  text-align: center;
}

.recovery-table__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: #2A2239;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.services-title {
  font-weight: 500;
  font-size: 28px;
}

.services-subtitle {
  font-size: 24px;
  margin-bottom: 45px;
  margin-top: 30px;
}

.services-link a {
  padding: 13px 30px;
  border-radius: 10px;
  background-color: #8A0002;
  color: #F9F3EA;
  font-size: 22px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.services-link a:hover {
  border: 2px solid #8A0002;
  background-color: inherit;
  color: #8A0002;
}

.header {
  padding-top: 80px;
}

.header-main {
  padding: 330px 0;
  background-image: url(../img/header-main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.about {
  padding-top: 90px;
  padding-bottom: 150px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-text {
  max-width: 600px;
}

.about-text__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.about-text__subtitle {
  font-size: 18px;
  line-height: 24px;
}

.full-image {
  width: 100%;
}

.full-image img {
  width: 100%;
}

.services {
  padding-top: 90px;
  padding-bottom: 110px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ECE0B8), color-stop(#FBF2E9), to(#ECE0B8));
  background-image: -o-linear-gradient(left top, #ECE0B8, #FBF2E9, #ECE0B8);
  background-image: linear-gradient(to right bottom, #ECE0B8, #FBF2E9, #ECE0B8);
}

.services__main-title {
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  margin-bottom: 70px;
}

.services-item {
  margin-bottom: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-item__main {
  max-width: 500px;
}

.services-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-item:last-child {
  margin-bottom: 150px;
}

.services__title {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  color: #2A2239;
}

@media (max-width: 1350px) {
  .nav-list__item {
    margin-right: 50px;
  }
}

@media (max-width: 1250px) {
  .nav-list__item {
    margin-right: 30px;
  }

  .dismantling-item__main {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .nav-container {
    max-width: 1100px;
  }

  .cutting_price-main span:nth-child(2) {
    position: relative;
    margin-top: 10px;
  }

  .cutting-item__main {
    max-width: 300px;
    line-height: 28px;
  }

  .drilling-item__main {
    max-width: 300px;
  }

  .rope-price__item span:nth-child(2) {
    position: relative;
    margin-top: 10px;
  }

  .rope-item__text {
    max-width: 300px;
  }

  .dismantling-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .dismantling-item__main {
    max-width: none;
    margin-top: 30px;
  }

  #lastItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container {
    max-width: 970px;
  }

  .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-text {
    margin-top: 30px;
  }

  .about-text__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .services-item__main {
    max-width: 300px;
    line-height: 28px;
  }
}

@media (max-width: 1070px) {
  .nav__link:hover {
    color: inherit;
    border-bottom: none;
  }

  .nav-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .nav-burger:before,
  .nav-burger:after {
    content: "";
    background-color: #2A2239;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .nav-burger:before {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav-burger:after {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav-burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2A2239;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav-main {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8A0002;
    padding-top: 90px;
    padding-left: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .nav-main.active {
    top: 0;
  }

  .nav-list {
    display: block;
    text-align: center;
  }

  .nav-list__item {
    margin-right: 0;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .nav__link {
    font-size: 24px;
    color: #F0E5C4;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .cutting-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 150px;
  }

  .cutting-item__image {
    margin-bottom: 20px;
  }

  .cutting-item__main {
    max-width: none;
  }

  .cutting-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .cutting_about-subtitle {
    margin-top: 100px;
  }

  .cutting_about {
    padding-bottom: 100px;
  }

  .drilling_example-main__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .drilling_example-main__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .drilling-item__main {
    max-width: none;
  }

  .drilling-item__main-title {
    text-align: center;
    margin-top: 30px;
  }

  .rope-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .rope-item__text {
    max-width: none;
    margin-top: 30px;
  }

  .rope-item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .recovery-row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }

  .recovery-way__scheme {
    position: absolute;
    z-index: 1;
    width: 2px;
    height: 900px;
    background-color: #8A0002;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 120px;
  }

  .container {
    max-width: 840px;
  }

  .services-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-item__main {
    max-width: 500px;
  }

  .services-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 930px) {
  .cutting_header-main__title {
    font-size: 50px;
  }

  .drilling_header-main__title {
    font-size: 50px;
  }

  .rope_header-main__title {
    font-size: 50px;
  }

  .dismantling_header-main__title {
    font-size: 50px;
  }

  .recovery_header-main__title {
    font-size: 50px;
  }

  .header-main__title {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .nav-row {
    height: 60px;
  }

  .cutting_header {
    padding-top: 60px;
  }

  .drilling_header {
    padding-top: 60px;
  }

  .rope_header {
    padding-top: 60px;
  }

  .dismantling_header {
    padding-top: 60px;
  }

  .recovery_header {
    padding-top: 60px;
  }

  .container {
    max-width: none;
  }

  .header {
    padding-top: 60px;
  }
}

@media (max-width: 760px) {
  .cutting_price-main span:nth-child(1) {
    font-size: 20px;
  }

  .cutting_price-main span:nth-child(2) {
    font-size: 20px;
    top: 0;
  }

  .rope-price___item span {
    font-size: 20px;
  }

  .rope-price__item span:nth-child(2) {
    font-size: 20px;
    top: 0;
  }
}

@media (max-width: 757px) {
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-item {
    margin-bottom: 30px;
  }

  .footer-item__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 720px) {
  .cutting_header-main {
    padding: 200px 0;
  }

  .cutting_header-main__title {
    font-size: 40px;
  }

  .drilling_header-main {
    padding: 200px 0;
  }

  .drilling_header-main__title {
    font-size: 40px;
  }

  .rope_header-main {
    padding: 200px 0;
  }

  .rope_header-main__title {
    font-size: 40px;
  }

  .dismantling_header-main {
    padding: 200px 0;
  }

  .dismantling_header-main__title {
    font-size: 40px;
  }

  .recovery_header-main {
    padding: 200px 0;
  }

  .recovery_header-main__title {
    font-size: 40px;
  }

  .header-main {
    padding: 200px 0;
  }

  .header-main__title {
    font-size: 40px;
  }
}

@media (max-width: 700px) {
  .recovery-row:nth-child(2):before,
  .recovery-row:nth-child(4):before {
    display: none;
  }

  .recovery-row:nth-child(1):after,
  .recovery-row:nth-child(3):after {
    display: none;
  }

  .recovery-way__scheme {
    position: absolute;
    width: 0;
    height: 0;
  }

  .recovery-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .recovery-row__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 50px;
  }

  .recovery-row:nth-child(2),
  .recovery-row:nth-child(4) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .gradient-text {
    padding-bottom: 10px;
  }

  .cutting_about-subtitle {
    font-size: 22px;
  }
}

@media (max-width: 560px) {
  .cutting_header-main__title {
    font-size: 30px;
  }

  .drilling_header-main__title {
    font-size: 30px;
  }

  .rope_header-main__title {
    font-size: 30px;
  }

  .dismantling_header-main__title {
    font-size: 30px;
  }

  .recovery_header-main__title {
    font-size: 30px;
  }

  .header-main__title {
    font-size: 30px;
  }
}

@media (max-width: 530px) {
  .dismantling-content__header-text {
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .footer-title-join {
    font-size: 30px;
  }
}

@media (max-width: 360px) {
  .cutting_about-subtitle {
    max-width: none;
  }
}

.webp .cutting_header-main { background-image: url(../img/cutting-header-main-bg.webp); }

.webp .drilling_header-main { background-image: url(../img/drilling-header-bg.webp); }

.webp .rope_header-main { background-image: url(../img/rope-header-bg.webp); }

.webp .dismantling_header-main { background-image: url(../img/dismantling-header-bg.webp); }

.webp .recovery_header-main { background-image: url(../img/recovery-header-bg.webp); }

.webp .header-main { background-image: url(../img/header-main-bg.webp); }